body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
.top-page {
  width: 100%;
  height: 100vh;
}
video {
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  width: 100%;
  height: 100%;

  h1 {
    font-size: clamp(20px, 4vw, 50px);
    font-weight: bold;
    color: rgb(255, 250, 250);
  }

  h2 {
    font-size: clamp(15px, 5vw, 35px);
    font-weight: bold;
    color: rgb(255, 250, 250);
  }

  h3 {
    font-size: clamp(10px, 3vw, 25px);
    // font-weight: bold;
    color: rgb(255, 250, 250);
  }

  a {
    color: rgb(255, 250, 250);
  }

  .dogon-logo {
    width: clamp(80px, 15vw, 160px);
  }

  .badge-container {
    background: rgba(0, 0, 0, 0.3);
    //margin-left: 30px;
    //margin-right: 30px;

    .sap-badge {
      width: clamp(60px, 10vw, 180px);
    }
  }
}

.dg-mission {
  background: rgba(38, 34, 34, 0.7);
  box-shadow: 0 0 2rem -0.5rem black;
  h3 {
    font-size: clamp(10px, 3vw, 25px);
    // font-weight: bold;
    color: whitesmoke;
  }
}

.complex-environments {
  // background:whitesmoke;
  margin: 2em 0;
  padding: 5em;
  align-content: center;
  p {
    font-size: clamp(8px, 3vw, 15px);
    // font-weight: bold;
    color: #303030;
  }
  h1 {
    font-size: clamp(8px, 3vw, 25px);
  }
  hr {
    border: none;
    width: 10%;
    background: brown;
    height: 4px;
  }
  .free-legal {
    width: clamp(100px, 10vw, 600px);

    // shape-outside: ellipse();
  }

  .free-shuttle {
    width: clamp(80px, 10vw, 370px);

    // shape-outside: ellipse();
  }
}

.management-consulting {
  background: #2f2f2f;
  margin: 2em 0;
  padding: 5em;
  //align-content: center;
  ul {
    list-style-position: inside;
    text-align: left;
  }

  p,
  li {
    font-size: clamp(8px, 3vw, 17px);
    // font-weight: bold;
    color: whitesmoke;
  }
  h2 {
    font-size: clamp(15px, 5vw, 35px);
    font-weight: bold;
    color: rgb(255, 250, 250);
  }
  h3 {
    font-size: clamp(8px, 3vw, 25px);
    color: whitesmoke;
  }

  hr {
    border: none;
    width: 10%;
    background: gold;
    height: 4px;
  }
  .free-automation {
    width: clamp(150px, 30vw, 500px);

    // shape-outside: ellipse();
  }

  .free-orchestre {
    width: clamp(150px, 30vw, 500px);

    // shape-outside: ellipse();
  }

  .free-hourglass {
    width: clamp(150px, 30vw, 500px);
  }

  .free-charts {
    width: clamp(150px, 30vw, 500px);
  }
}

.SAP-consulting {
  background: whitesmoke;
  margin: 2em 0;
  padding: 5em;
  //align-content: center;
  ul {
    list-style-position: inside;
    text-align: left;
  }

  p,
  li {
    font-size: clamp(8px, 3vw, 17px);
    // font-weight: bold;
    color: #303030;
  }
  h2 {
    font-size: clamp(15px, 5vw, 35px);
    font-weight: bold;
    color: #303030;
  }
  h3 {
    font-size: clamp(8px, 3vw, 25px);
    color: #303030;
  }

  hr {
    border: none;
    width: 10%;
    background: gold;
    height: 4px;
  }
  .free-magnifying-glass {
    width: clamp(150px, 30vw, 500px);

    // shape-outside: ellipse();
  }
}

.achievements {
  background: #2f2f2f;
  margin: 2em 0;
  padding: 5em;
  font-size: clamp(8px, 3vw, 17px);
  //align-content: center;
  ul {
    list-style-position: outside;
    text-align: left;
  }
  p,
  li {
    font-size: clamp(8px, 3vw, 17px);
    // font-weight: bold;
    color: whitesmoke;
    text-align: left;
  }
  .bold {
    font-weight: bold;
  }
  h2 {
    font-size: clamp(15px, 5vw, 35px);
    font-weight: bold;
    color: rgb(255, 250, 250);
  }
  h3 {
    font-size: clamp(8px, 3vw, 25px);
    color: whitesmoke;
  }
  hr {
    border: none;
    width: 10%;
    background: gold;
    height: 2px;
  }
}

.testimonies {
  background: whitesmoke;
  margin: 2em 0;
  padding: 5em;
  //align-content: center;
  ul {
    list-style-position: inside;
    text-align: left;
  }
  .bold {
    font-weight: bold;
  }
  p,
  li {
    font-size: clamp(8px, 3vw, 17px);
    // font-weight: bold;
    color: #303030;
  }
  h2 {
    font-size: clamp(15px, 5vw, 35px);
    font-weight: bold;
    color: #303030;
  }
  h3 {
    font-size: clamp(8px, 3vw, 25px);
    color: #303030;
  }
  h4 {
    font-size: clamp(8px, 3vw, 20px);
    color: #303030;
  }
  hr {
    border: none;
    width: 10%;
    background: gold;
    height: 4px;
  }
  .free-magnifying-glass {
    width: clamp(150px, 30vw, 500px);

    // shape-outside: ellipse();
  }
}

.customers {
  hr {
    border: none;
    width: 10%;
    background: gold;
    height: 4px;
  }
  h2 {
    font-size: clamp(15px, 5vw, 35px);
    font-weight: bold;
    color: #000000;
  }

  .rowCust {
    align-items: center;
  }
  .clients {
    width: clamp(50px, 10vw, 120px);
  }
}


.footer {
  background: #2f2f2f;
  padding: 1.5em;
  p {
    font-size: clamp(8px, 3vw, 17px);
    font-weight: bold;
    color: whitesmoke;
    text-align: left;
  }
}

@import "~bootstrap/scss/bootstrap";
